<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tossapon.projectsport"
    android:versionCode="3"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_appid" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.Splash.Splash"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.MainActivity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.StadiumInformationActivity.StadiumInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.ReserveActivity.SelectStadiumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.ReserveActivity.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.FriendInviteActivity.FriendInviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.FriendActivity.FriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.MyReserveActivity.MyReserveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.ReserveActivity.PreReserveActivity"
            android:label="@string/title_activity_reserve"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tossapon.stadiumfinder.GroupActivity.SettingsActivity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <service
            android:name="com.tossapon.stadiumfinder.Services.LocationService"
            android:exported="false" />
        <service
            android:name="com.tossapon.stadiumfinder.Services.NotificationService"
            android:exported="false" />

        <activity android:name="com.tossapon.stadiumfinder.GroupActivity.FriendStatActivity.FriendStatActivity" />
        <activity android:name="com.tossapon.stadiumfinder.GroupActivity.MatchDetailActivity.MatchDetailActivity"></activity>
    </application>

</manifest>
